@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dushyant<br />
    Newbury<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Dev:</strong>   <a href="mailto:dp7g09@outlook.com">dp7g09@outlook.com</a><br />
</address>